<%= header :title => "Update #{@collection.display_name} #{@release.version}" %>
<h2>Administrative Tasks</h2>
<p><a href="/collection/<%= @collection.name %>/release/<%= @release.version %>/update_fat_tarball">Regenerate fat tarball</a></p>
<p><a href="/collection/<%= @collection.name %>/release/<%= @release.version %>/update_fat_tarball_checksums">Update fat tarball checksums</a></p>
<h2>Projects to include in the release</h2>
<form method="post">
  <table cellspacing="0" cellpadding="0">
    <% for project in Project.find_all.sort %>
      <tr>
        <th><%= project.name %></th>
        <td>
          <label class="inline">Included version:</label>
          <select name="version[<%= project.name %>]">
            <% included_release = @release.included_project_release(project) %>
            <option name="nil" value="nil" <%= 'selected="selected"' if included_release.nil? %>>None</option>
            <% for release in project.releases %>
              <option value="<%= release.branch.name %>:<%= release.version %>" <%= 'selected="selected"' if release == included_release %>><%= release.version %></option>
            <% end %>
          </select>
        </td>
      </tr>
    <% end %>
  </table>
  <p><input type="submit" value="Save"/></p>
</form>
<%= footer %>
