<%= header :title => "Release new version of #{@collection.display_name}" %>
<form method="post">
  <h2>Release information</h2>
  <fieldset>
    <p>
      <label for="version">Version:</label>
      <input type="text" id="version" name="version" value="<%= params[:version] %>" style="width:5em"/>
    </p>
    <% if error_set? :version %>
      <p class="error quote"><%= error :version %></p>
    <% end %>
    <p>
      <label for="message">Message:</label>
      <textarea id="message" name="message" style="height:20em"><%= params[:message] %></textarea>
    </p>
    <% if env['identica'] %>
      <p class="quote"><input type="checkbox" id="identica" name="identica" value="announce" checked="checked"/> Announce on <a href="http://identi.ca/xfce">identi.ca/xfce</a></p>
    <% end %>
    <% if env['mailinglists'] %>
      <% for list in env['mailinglists'].lists %>
        <p class="quote"><input type="checkbox" name="mailinglists[<%= list %>]" value="announce" <%= 'checked="checked"' if @collection.mailinglists.include?(list) %>/> Announce on <%= list %></p>
      <% end %>
      <p class="quote"><strong>Make sure to be subscribed to these mailinglists with <%= authentication_user.email %>. You can <a href="/maintainer/profile/<%= authentication_user.username %>">change your email address here</a>.</strong></p>
    <% end %>
  </fieldset>
  <h2>Projects</h2>
  <fieldset>
    <table cellspacing="0" cellpadding="0">
      <% for project in Project.find_all %>
        <tr>
          <th><%= project.name %></th>
          <td>
            <label class="inline">Version to include:</label>
            <select name="project_version[<%= project.name %>]">
              <option name="nil" value="nil" <%= 'selected="selected"' if (params['project_version'] and params['project_version'][project.name] == 'nil') %>>None</option>
              <% for release in project.releases %>
                <option value="<%= release.version %>" <%= 'selected="selected"' if (params['project_version'] and params['project_version'][project.name] == release.version) %>><%= release.version %></option>
              <% end %>
            </select>
          </td>
        </tr>
      <% end %>
    </table>
  </fieldset>
  <p><input type="submit" value="Release and celebrate!"/></p>
</form>
<%= footer %>
