<%= header :title => "Manage #{@collection.display_name}" %>
<h2>Collection information</h2>
<form>
  <fieldset>
    <p><label for="website">Website:</label> <%= @collection.website %></p>
    <p><label for="maintainers">Maintainers:</label> <%= maintainer_names(@collection) %>.</p>
  </fieldset>
</form>
<p><a href="/collection/<%= @collection.name %>/new-release">Release new version</a></p>

<h2>Releases</h2>
<table cellspacing="0" cellpadding="0">
  <% for release in @collection.releases.sort.reverse %>
    <tr>
      <th><a href="<%= release.release_url %>"><%= release.version %></a></th>
      <td>
        <a href="/collection/<%= @collection.name %>/release/<%= release.version %>">Update</a>
        <a href="/collection/<%= @collection.name %>/release/<%= release.version %>/delete">Delete</a>
      </td>
    </tr>
  <% end %>
</table>
<%= footer %>
