- if authentication_user.authorized?('identica')
  %h2 Utilities
  %p
    %a{:href => "/announcements"} Publish announcements

%h2 Collections
%table
  %tr
  - for collection in authentication_user.collections.sort
    %tr
      %th
        %a{:href => "/collection/#{collection.name}"} #{collection.display_name}
      %td
        %a{:href => "/collection/#{collection.name}/new-release"} Release new version

%h2 Projects
- projects = authentication_user.projects.sort
%table
  - for classification in authentication_user.project_classifications
    %tr{:class => 'head'}
      %th{:colspan => 2} #{classification.name.capitalize}
    - for project in projects
      - if project.classification.eql? classification
        %tr
          %th
            %a{:href => "/project/#{project.name}"} #{project.name}
          %td
            %a{:href => "/project/#{project.name}/new-release"} Release new version
