<%= header :title => "Maintainers" %>
<h2>Pending Accounts</h2>
<p>Account added by the request account page</p> 

<h2>Active Maintainers</h2>
<table cellspacing="0" cellpadding="0">
  <tr>
    <th>Username</th>
    <th>Real Name</th>
    <th>Email</th>
  </tr>
  <% for maintainer in Maintainer.all.sort %>
    <tr>
      <td>
        <a href="/maintainer/<%= maintainer.username %>"><%= maintainer.username %></a>
      </td>
      <td>
        <%= maintainer.realname %>
      </td>
      <td>
        <%= maintainer.email %>
      </td>
    </tr>
  <% end %>
</table>
<%= footer %>
