%h2 Account data
%form{:method => "post"}
  %p
    %label{:for => "username"} Login Name:
    %input{:type => "text", :name => "fooname", :disabled => true, :value => @maintainer.username}
    %input{:type => "hidden", :name => "username", :value => @maintainer.username}
  %p
    %label{:for => "email"} Email address:
    %input{:type => "text", :name => "email", :value => @maintainer.email}
  - if authentication_user.is_admin
    %p
      %label{:for => "active"} Account active:
      %input{:type => "checkbox", :name => "active", :checked => @maintainer.active}
  %p
    %label{:for => "realname"} Real Name:
    %input{:type => "text", :name => "realname", :value => @maintainer.realname}
  %p
    %label{:for => "pubkeys"} SSH public-keys:
    %textarea{:name => "pubkeys", :rows => "5", :wrap => "off"}
      #{@maintainer.pubkeys}
    %br
    Each line of the public keys should start with ssh-dsa or ssh-rsa else the key is not saved.
  %hr
  %p 
    Leave the password fields empty if you don't want to set a new password. 
    The password needs to be at least 6 characters long.
  - if env[:error][:newpassword]
    %p.error.quote #{env[:error][:newpassword]}
  %p
    %label{:for => "new_password"} New password:
    %input{:type => "password", :name => "newpassword"}
  %p
    %label{:for => "new_password2"} Confirm new password:
    %input{:type => "password", :name => "newpassword2"}
  %hr
  %p Please enter your existing password to confirm account changes.
  - if env[:error][:password]
    %p.error.quote #{env[:error][:password]}
  %p
    %label{:for => "password"} Password:
    %input{:type => "password", :name => "password"}
  %p
    %input{:type => "submit", :value => "Save"}

%h2 Permissions
%form{:method => "post", :action => "/maintainer/#{@maintainer.username}/permissions" }
  %h3 Roles
  - visible_roles = false
  - for role in Role.all
    - if authentication_user.is_admin or @maintainer.roles.include?(role)
      - visible_roles = true
      %p
        %input{:type => "checkbox", :name => "roles[#{role.name}]", :checked => @maintainer.roles.include?(role), :disabled => !authentication_user.is_admin}
        %label{:for => "roles[#{role.name}]"} #{role.description}
  - if !visible_roles
    %p This user has no roles.

  %h3 Collections
  - visible_collections = false
  - for collection in Collection.all
    - if authentication_user.is_admin or @maintainer.collections.include?(collection)
      - visible_collections = true
      %p
        %input{:type => "checkbox", :name => "collections[#{collection.name}]", :checked => @maintainer.collections.include?(collection), :disabled => !authentication_user.is_admin}
        %label{:for => "collections[#{collection.name}]"} #{collection.display_name}
  - if !visible_collections
    %p This user is not maintaining a collection.

  %h3 Projects
  - visible_projects = false
  - for project in Project.all.sort
    - if authentication_user.is_admin or @maintainer.projects.include?(project)
      - visible_projects = true
      %p
        %input{:type => "checkbox", :name => "projects[#{project.name}]", :checked => @maintainer.projects.include?(project), :disabled => !authentication_user.is_admin}
        %label{:for => "projects[#{project.name}]"}
          %a{:href => "/project/#{project.name}" } #{project.name}
  - if !visible_projects
    %p This users is not maintaining a project.

  - if authentication_user.is_admin
    %p
      %input{:type => "submit", :value => "Save"}
