<%= header :title=> 'Permission denied' %>
<p class="error">You're denied access to this page for the following reason:</p>
<p class="error" style="text-align:center;"><strong>
  <% if context.is_a? Moka::Models::Project %>
    You are not listed as a maintainer of <%= context.name %> and your roles include none of <%= roles.to_s %> either.
  <% elsif context.is_a? Moka::Models::Collection %>
    You are not listed as a maintainer of <%= context.display_name %> and your roles include none of <%= roles.to_s %> either.
  <% elsif context.is_a? Moka::Models::Maintainer %>
    You are not <%= context.realname %> and your roles include none of <%= roles.to_s %> either.
  <% else %>
    One of the <%= roles.to_s %> roles is required for this.
  <% end %>
</strong></p>
<p><a href="javascript:history.back()">Bring me back!</a></p>
<%= footer %>
