%h2 Project Information
%fieldset
  %form{:method => "post", :action => "/project/#{@project.name}/information"}
    %p
      %label{:for => "website"} Website:
      %input{:type => "text",
             :name => "website",
             :id => "website",
             :maxlength => 100,
             :class => 'fill',
             :value => "#{@project.website}"}
    %p
      %label{:for => "shortdesc"} Short Description:
      %input{:type => "text",
             :name => "shortdesc",
             :id => "shortdesc",
             :maxlength => 100,
             :class => 'fill',
             :value => "#{@project.shortdesc}"}
    %p
      %label{:for => "longdesc"} Long Description:
      %textarea{:name => "longdesc", :id => "longdesc"} #{@project.longdesc}
    %p
      %label{:for => "owner"} Owner:
      %input{:type => "text",
             :name => "owner",
             :id => "owner",
             :class => 'fill',
             :value => "#{@project.owner}"}
    %p
      %label{:for => "maintainers"} Maintainers:
      %input{:type => "text",
             :name => "owner",
             :id => "owner",
             :class => 'fill',
             :readonly => true,
             :value => "#{maintainer_names(@project)}"}
    %p.quote
      %input{:type => "submit", :value => "Save"}
      

- if authentication_user.is_admin
  %h2 Project Groups
  %form{:method => "post", :action => "/project/#{@project.name}/groups"}
    %div{:class => "columns"}
      - for group in Group.all
        %p
          %input{:type => "checkbox",
                 :name => "groups[#{group.name}]",
                 :id => "g_#{group.name}",
                 :checked => @project.groups.include?(group),
                 :disabled => !authentication_user.is_admin}
          %label{:for => "g_#{group.name}"} #{group.desc}
      %div{:class => "clearboth"}
    %p
      %input{:type => "submit", :value => "Save"}

%h2 Classification
%form{:method => "post", :action => "/project/#{@project.name}/classify"}
  %p
    %select{:name => "classification"}
      - for classification in Classification.find_all
        %option{:name => classification.name,
                :selected => (@project.classification.eql? classification)} #{classification.name}
    %input{:type => "submit", :value => "Change"}

%h2 Releases
%p
  %a{:href => "/project/#{@project.name}/new-release"} Release new version

%table
  - for branch in @project.branches.sort.reverse
    - releases = @project.releases(branch).sort.reverse
    - for release in releases
      %tr
        %th
          - if release == releases.first
            #{branch.name} Branch
        %th
          %a{:href => "#{release.download_url}"} #{release.version}
        %td
          %a{:href => "/project/#{@project.name}/branch/#{branch.name}/release/#{release.version}/update"} Update
          %a{:href => "/project/#{@project.name}/branch/#{branch.name}/release/#{release.version}/delete"} Delete
