<%= header :title => "Release new version of #{@project.name} #{@branch.name} (4/4)" %>
<h2>Confirmation</h2>
<p>The following announcements will be sent.</p>
<% if env['identica'] and params[:identica] %>
  <h3>Identi.ca</h3>
  <p class="preview"><%= @announcement_status %></p>
<% end %>
<% if env['mailinglists'] and params[:mailinglists] %>
  <h3>Mailinglists</h3>
  <h4>Subject</h4>
  <p class="preview"><%= @announcement_subject %></p>
  <h4>Body</h4>
  <p class="preview"><%= @announcement_body %></p>
<% end %>
<h2>Everything alright?</h2>
<form method="post" action="/project/<%= @project.name %>/branch/<%= @branch.name %>/new-release/<%= @release.version %>/confirm">
  <fieldset>
    <% if env['feeds'] %>
      <input style="display:none" type="checkbox" id="feeds" name="feeds" value="announce" <%= 'checked="checked"' if params[:feeds] %>/>
    <% end %>
    <% if env['identica'] %>
      <input style="display:none" type="checkbox" name="identica" <%= 'checked="checked"' if params[:identica] %>/>
    <% end %>
    <% if env['mailinglists'] %>
      <% for list in env['mailinglists'].lists %>
        <input style="display:none" type="checkbox" name="mailinglists[<%= list %>]" value="announce" <%= 'checked="checked"' if (params[:mailinglists] and params[:mailinglists].has_key?(list)) %>/>
      <% end %>
    <% end %>
    <textarea style="display:none" name="message"><%= params[:message] %></textarea>
    <p class="center">
      <input type="button" onclick="history.back()" value="No, let me edit the announcement again"/>
      <input type="submit" value="Yes, release the damn thing already!"/>
    </p>
  </fieldset>
</form>
<%= footer %>
