%h2 Create Project
%form{:method => "post" }
  %p
    %label{:for => "name"} Name:
    %input{:type => "text", :name => "name" }
  %p
    %label{:for => "classification"} Classification:
    %select{:name => "classification"}
      - for classification in Classification.find_all
        %option{:name => classification.name} #{classification.name}
  %p
    %input{:type => "submit", :value => "Create" }

%h2 Projects
- projects = Project.all.sort
%table
  - for classification in Classification.find_all.sort
    %tr{:class => 'head'}
      %th{:colspan => 2} #{classification.name.capitalize}
    %tr
      %th Name
      %th Maintainers
    - reset_cycle
    - for project in projects
      - if project.classification.eql? classification
        %tr{:class => cycle}
          %td
            %a{:href => "/project/#{project.name}"} #{project.name}
          %td
            #{maintainer_names(project)}
