<%= header :title => "Manage #{@project.name}" %>
<h2>Project information</h2>
<form method="post" action="/project/<%= @project.name %>/information">
  <fieldset>
    <p><label for="website">Website:</label> <input type="text" id="website" name="website" style="width:60%" value="<%= @project.website %>"/></p>
    <p><label for="description">Description:</label> <textarea id="description" name="description" style="height:10em;"><%= @project.description %></textarea></p>
    <p><span class="placeholder">&nbsp;</span> <input type="submit" value="Save"/></p>
  </fieldset>
</form>
<h2>Classification</h2>
<form method="post" action="/project/<%= @project.name %>/classify">
  <p>
    <select name="classification">
      <% for classification in Classification.find_all %>
        <% if @project.classification.name == classification.name %>
          <option name="<%= classification.name %>" selected="selected"><%= classification.name %></option>
        <% else %>
          <option name="<%= classification.name %>"><%= classification.name %></option>
        <% end %>
      <% end %>
    </select>
    <input type="submit" value="Change"/>
  </p>
</form>
<h2>Releases <a href="/project/<%= @project.name %>/new-release">Release new version</a></h2>
<table cellspacing="0" cellpadding="0">
  <% for branch in @project.branches.sort.reverse %>
    <% releases = @project.releases(branch) %>
    <% for release in releases %>
      <tr>
        <th><%= "#{branch.name} Branch" if release == releases.first %></th>
        <th><a href="<%= Mirror.find_all.first.download_url(release) %>"><%= release.version %></a></th>
        <td>
          <a href="/project/<%= @project.name %>/branch/<%= branch.name %>/release/<%= release.version %>/update">Update</a>
          <a href="/project/<%= @project.name %>/branch/<%= branch.name %>/release/<%= release.version %>/delete">Delete</a>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
<%= footer %>
