%h2 Create Project
%fieldset
  %form{:method => "post" }
    %p
      %label{:for => "name"} Name:
      %input{:type => "text", :name => "name", :id => "name" }
    %p
      %label{:for => "classification"} Classification:
      %select{:name => "classification", :id => "classification"}
        - for classification in Classification.find_all.sort
          %option{:name => classification.name} #{classification.name}
    %p.quote
      %input{:class => "button", :type => "submit", :value => "Create" }

%h2 Projects
- projects = Project.all.sort
%table
  - for classification in Classification.find_all.sort
    %tr{:class => 'head'}
      %th{:colspan => 2} #{classification.name.capitalize}
    %tr
      %th Name
      %th Maintainers
    - reset_cycle
    - for project in projects
      - if project.classification.eql? classification
        %tr{:class => cycle}
          %td
            %a{:href => "/project/#{project.name}"} #{project.name}
          %td
            - for user in project.maintainers.sort
              %a{:href => "/maintainer/#{user.username}", :title => "#{user.realname}"} #{user.username}
