<%= header :title => "Release new version of #{@project.name} (3/4)" %>
<h2>Tarball uploaded</h2>
<p>The tarball is now uploaded. You can stop here if that is all you wanted to do.</p>
<h2>Announcement</h2>
<form method="post">
  <fieldset>
    <p><label for="message">Release notes:</label> <textarea class="message" id="message" name="message" style="height:20em"></textarea></p>
    <p class="quote"><strong>This message will appear below the download and project info, so you don't have to start it with a greeting.</strong></p>
    <% if env['feeds'] %>
      <p class="quote"><input type="checkbox" id="feeds" name="feeds" value="announce" checked="checked"/> Update <a href="<%= env['feeds'].get_project_feed_url(@project) %>">news feed</a></p>
    <% end %>
    <% if env['identica'] %>
      <p class="quote"><input type="checkbox" id="identica" name="identica" value="announce" checked="checked"/> Announce on <a href="http://identi.ca/xfce">identi.ca/xfce</a></p>
    <% end %>
    <% if env['mailinglists'] %>
      <% for list in env['mailinglists'].lists %>
        <p class="quote"><input type="checkbox" name="mailinglists[<%= list %>]" value="announce" <%= 'checked="checked"' if @project.mailinglists.include?(list) %>/> Announce on <%= list %></p>
      <% end %>
      <p class="quote"><strong>Make sure to be subscribed to these mailinglists with <%= authentication_user.email %>. You can <a href="/maintainer/profile/<%= authentication_user.username %>">change your email address here</a>.</strong></p>
    <% end %>
    <p class="quote"><input type="submit" value="Continue"/></p>
  </fieldset>
</form>
<%= footer %>
