<%= header :title => "Update #{@project.name} #{@release.version}" %>
<h2>Tarball</h2>
<form method="post" enctype="multipart/form-data">
  <fieldset>
    <p><label>Filename:</label> <tt><%= @release.tarball_basename %></tt></p>
    <p><label for="tarball">Tarball:</label> <input type="file" id="tarball" name="tarball"/></p>
    <% if env[:error][:tarball] %>
      <p class="error quote"><%= env[:error][:tarball] %></p>
    <% end %>
    <p><label for="checksum">Checksum (SHA1):</label> <input type="text" id="checksum" name="checksum" size="40" value="<%= params[:checksum] %>"/></p>
    <% if env[:error][:checksum] %>
      <p class="error quote"><%= env[:error][:checksum] %></p>
    <% end %>
    <p class="quote"><input type="submit" value="Replace current tarball"/></p>
  </fieldset>
</form>
<%= footer %>
