<%= header :title => "Release new version of #{@project.name} #{@branch.name}" %>
<h2>Release information</h2>
<form method="post" enctype="multipart/form-data">
  <fieldset>
    <p><label for="tarball">Tarball:</label> <input type="file" id="tarball" name="tarball" size="30"/></p>
    <% if error(:tarball) %>
      <p class="error"><span class="placeholder">&nbsp;</span> <%= error(:tarball) %></p>
    <% end %>
    <p><label for="checksum">Checksum (SHA1):</label> <input type="text" id="checksum" name="checksum" value="<%= params[:checksum] %>"/></p>
    <% if error(:checksum) %>
      <p class="error"><span class="placeholder">&nbsp;</span> <%= error(:checksum) %></p>
    <% end %>
    <p><label for="message">Message:</label> <textarea class="message" id="message" name="message" style="height:20em"></textarea></p>
    <% if env['identica'] %>
      <p><span class="placeholder">&nbsp;</span> <input type="checkbox" id="identica" name="identica" value="announce" <%= 'checked="checked"' if params[:identica] %>/> Announce on <a href="http://identi.ca/xfce">identi.ca/xfce</a></p>
    <% end %>
    <% if env['mailinglists'] %>
      <% for list in env['mailinglists'].lists %>
        <p><span class="placeholder">&nbsp;</span> <input type="checkbox" name="mailinglists[<%= list %>]" value="announce" <%= 'checked="checked"' if @project.mailinglists.include?(list) %>/> Announce on <%= list %></p>
      <% end %>
    <% end %>
    <p><span class="placeholder">&nbsp;</span> <input type="submit" value="Release and celebrate!"/></p>
  </fieldset>
</form>
<%= footer %>
