<pre><a href="<%= release.collection.website %>"><%= release.collection.display_name %></a> <%= release.version %> is now available for download.

It includes the following releases of Xfce core components:
<% for project in (Moka::Models::Project.find_all.sort.select do |project| release.included_project_release(project) != nil end) %>
  <a href="<%= project.website %>"><%= project.name %></a> <%= release.included_project_release(project).version %><% end %>

Individual tarballs are available for download now:
  <a href="<%= release.download_url %>"><%= release.download_url %></a>

A tarball including all individual releases can be downloaded here:
  <a href="<%= release.fat_tarball_url %>"><%= release.fat_tarball_url %></a>


Release notes for <%= release.version %>
==================<%= Array.new(release.version.size, '=').join %>

<%= wrap_text(message).strip %></pre>
