<%= header :title => "Manage Release #{@release.version} of Collection #{@collection.display_name}" %>
<h2>Projects to Include in the Release</h2>
<form method="post">
  <table cellspacing="0" cellpadding="0">
    <% for project in Project.find_all %>
      <tr>
        <th><%= project.name %></th>
        <td>
          Included version: 
          <select name="version[<%= project.name %>]">
            <% included_release = @release.included_project_release(project) %>
            <option name="nil" value="nil" <%= 'selected="selected"' if included_release.nil? %>>None</option>
            <% for release in project.releases %>
              <option value="<%= release.branch.name %>:<%= release.version %>" <%= 'selected="selected"' if release == included_release %>><%= release.version %></option>
            <% end %>
          </select>
        </td>
      </tr>
    <% end %>
  </table>
  <p><input type="submit" value="Save"/></p>
</form>
<%= footer %>
