<h2>Collections</h2>
<% for collection in Collection.find_all_by_maintainer(env['warden'].user) %>
  <table cellspacing="0" cellpadding="0">
    <% for release in collection.releases %>
      <tr>
        <th>
          <% if collection.releases.first.version == release.version %>
            <%= collection.display_name %>
          <% end %>
        </th>
        <th><a href="/collection/<%= collection.name %>/release/<%= release.version %>"><%= release.version %></a></th>
        <td>
          <a class="inactive">Delete</a>
        </td>
      </tr>
    <% end %>
    <tr>
      <th> </th>
      <th>?</th>
      <td>
        <a href="/collection/<%= collection.name %>/new-release">Release new version</a>
      </td>
    </tr>
  </table>
<% end %>
