Hello, this is Moka at <a href="<%= params[:request_url] %>"><%= params[:request_url] %></a>.

The user '<%= params[:request_username] %>' has asked for access from
<%= request.env['REMOTE_ADDR'] %> on <%= params[:request_stamp] %>.

Always at your service.

 --Moka
